.user{
  width: 500px;
  padding: 5px 15px;
  margin: 20px 400px; 
  color: teal;
  font-size: 14px;
  text-align: center;
  background-color:azure;
  border: 1px solid teal;
  cursor: pointer;  
}

.user-name{
font-size: 30px;
font-family: 'Courier New', Courier, monospace;
}

.user-number{
  font-size: 20px;
  text-decoration: underline;
  color: blue;
}

.inputForm{
  width: 500px;
  padding: 5px 15px;
  margin: 50px 400px; 
  color: teal;
  font-size: 14px;
  text-align: center; 
}

.textInput{
  display: block;
  width: 500px;
  height: 30px;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  
}

.submitInput{
  width: 200px;
  height: 30px;
  margin-bottom: 5px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color: teal;
}