.user{
  width: 600px;
  padding: 5px 15px;
  margin: 20px 400px; 
  display: flex;
  justify-content: space-between;
  color: teal;
  text-align: center;
  align-items: center;
  border: 1px solid teal;
  cursor: pointer;  
}

.user-name{
font-size: 25px;
font-family: 'Courier New', Courier, monospace;
}

.user-number{
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: underline;
  color: blue;
}

.inputForm{
  width: 600px;
  padding: 5px 15px;
  margin: 50px 400px; 
  color: teal;
  font-size: 20px;
  text-align: center; 
}

.textInput{
  display: block;
  width: 600px;
  height: 30px;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  
}

.submitInput{
  width: 150px;
  height: 30px;
  margin: 10px 40px;
  font-size: 15px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: teal;
}